.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(220, 84, 84, 0.1)),url('./calci.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.cal{
  padding: 20px;
  border-radius: 20px;
  border: 4px solid pink;
  
}
form input{
  border:none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background-color: grey;
  margin: 2px;
  border-radius: 10px;
  font-size: bolder;
  cursor: pointer;
}
form input[type="button"]:hover{
  background-color: rgb(137,22,245);
}
form .display{
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 20px 0px;
}

form .display input{
  text-align: right;
  flex:1;
  padding: 5px 10px;
  font-size: 40px;
  background-color:grey;
}
form input.equal{
  width: 125px;
}
